{% extends 'site_vendas/base.html' %}
{% load static %}
{% block content%}
  <div class="container">
    <h2>Mais Vendidos</h2>
    <div class="carousel">
      <div class="product">
        <img src="{% static '/assets/img/camiseta.png' %}" alt="Product 1">
        <h3>Camiseta Atlética</h3>
        <p>Camiseta com seu nome e a logo da nossa <br>
          Atlética</p>
        <p class="price">$20.00</p>
      </div>
      
      <div class="product">
        <img src="{% static '/assets/img/caneca.png' %}" alt="Product 1">
        <h3>Caneca Atlética</h3>
        <p>Caneca da atlética com seu nome. <br>
        Opções com tirante, abridor de garrafa e mais...</p>
        Atlética</p>
        <p class="price">$20.00</p>
      </div>

      <div class="product">
        <img src="{% static '/assets/img/product1.jpg' %}" alt="Product 1">
        <h3>Produto 1</h3>
        <p>Descrição do Produto 1</p>
        <p class="price">$20.00</p>
      </div>
    </div>
  </div>

  <div id="mais-pro">
    <h2 class="container">Mais produtos</h2>
</div>

  <div class="container">
    <div class="products">
      <div class="product">
        <h3>Produto 2</h3>
        <p>Descrição do Produto 1</p>
        <p class="price">$20.00</p>
      </div>
      <!-- Adicione mais produtos conforme necessário -->
    </div>
  </div>

  <script src="{% static '/scripts/script.js' %}"></script>
{% endblock %}
