{% extends 'site_vendas/base.html' %}
{% load static %}
{% block content%}
  <div class="container">
    <h2>Mais Vendidos</h2>
    <div class="carousel">
      {% if cards %}
      {% for produto in cards %}
      <a href="{% url 'produto' produto.id %}">
      <div class="product">
          {% if produto.Imagem_PRODUTO == "" or produto.Imagem_PRODUTO == null %}
          <img src="{% static '/assets/img/not-found.png' %}" alt="Product 1">
          {% else %}
          <h3>{{ produto.Nome_PRODUTO }}</h3>
          <img src="{{ produto.Imagem_PRODUTO.url }}" alt="Product 1">
          {% endif %}
          <p>{{ produto.Descricao_PRODUTO }}</p>
          <p class="price">${{ produto.Preco_venda_PRODUTO }}</p>
        </div>
      </a>
      {% endfor %}
      {% else %}
      <div class="product">
        <p>Produtos não encontrados</p>
      </div>
      {% endif %}
    </div>
  </div>

  <div id="mais-pro">
    <h2 class="container">Mais produtos</h2>
</div>
  {% if cards %}
  {% for produto in cards %}
  <div class="container">
    <div class="products">
      <div class="product">
        <h3>{{ produto.Nome_PRODUTO }}</h3>
        <p>{{ produto.Descricao_PRODUTO }}</p>
        <p class="price">${{ produto.Preco_venda_PRODUTO }}</p>
      </div>
    </div>
  </div>  
  {% endfor %}
  {% else %}
  <div class="product">
    <p>Produtos não encontrados</p>
  </div>
  {% endif %}
  {% if user.is_authenticated %}
    <p>Olá, {{ user.first_name }}! Você está logado.</p>
{% endif %}


{% endblock %}
