{% extends 'site_vendas/base.html' %}
{% load static %}
{% block content %}
<div id="mais-pro">
  <h2>Nossos produtos</h2>
</div>
{% if cards %}
<div class="products-container">
  {% for produto in cards %}
  <a href="{% url 'produto' produto.Nome_PRODUTO %}" class="product-link">
    <div class="product">
      {% if produto.Imagem_PRODUTO == "" or produto.Imagem_PRODUTO == null %}
      <img class="img-prduct" src="{% static '/assets/img/not-found.png' %}" alt="Product 1">
      {% else %}
      <h3>{{ produto.Nome_PRODUTO }}</h3>
      <img class="img-prduct" src="{{ produto.Imagem_PRODUTO.url }}" alt="Product 1">
      {% endif %}
      <p>{{ produto.Descricao_PRODUTO }}</p>
      <p class="price">${{ produto.Preco_venda_PRODUTO }}</p>
    </div>
  </a>
  {% endfor %}
</div>
{% else %}
<div class="notfound">
  <p>Produtos não encontrados</p>
</div>
{% endif %}
{% endblock %}
