{% extends 'site_vendas/base.html' %}
{% load static %}
{% block content%}
  <div class="pagprod">
    <div class="realproduto">
      <div class="prodinfo">
        <h2>{{ produto.Nome_PRODUTO }}</h2>

        <h4>Descrição:</h4>
        <p class="description">{{ produto.Descricao_PRODUTO }}</p>

        <p class="price">${{ produto.Preco_venda_PRODUTO }}</p>

        <form method="post" action="">
          {% csrf_token %}
          <label for="size">Selecione o tamanho:</label>
          <select id="size" name="size">
            <option value="P">P</option>
            <option value="M">M</option>
            <option value="G">G</option>
          </select>
          <button type="submit" class="btn-add-cart">Adicionar ao carrinho</button>
        </form>

      </div>
      <img id="imgprod" src="{{ produto.Imagem_PRODUTO.url }}" alt="imgprod">
    </div>
  </div>
{% endblock %}
