{% extends 'site_vendas/base.html' %}
{% load static %}
{% block content%}
  <div class="pagprod">
    <div class="realproduto">
      <div class="prodinfo">
        <h2>{{ produto.Nome_PRODUTO }}</h2>

        <h4>Descrição:</h4>
        <p class="description">{{ produto.Descricao_PRODUTO }}</p>

        <p class="price">${{ produto.Preco_venda_PRODUTO }}</p>

        <form method="POST" action="#">
          {% csrf_token %}
          {% for field in form %}
            <label for="{{field.id_for_label}}">{{field.label}}</label>
            {{field}}
          {% endfor %}
          <input class="carrinho_form btn-add-cart" type="submit" value="Adicionar ao carrinho">
        </form>

      </div>
      <img class="imgprod2" src="{{ produto.Imagem_PRODUTO.url }}" alt="imgprod">
    </div>
  </div>
{% endblock %}
