{% extends 'site_vendas/base.html' %}
{% load static %}
{% block content%}
  <div class="pagprod">
    <div class="realproduto">
      <div class="prodinfo">
        <h2>{{ produto.Nome_PRODUTO }}</h2>

        <h4>Descrição:</h4>
        <p class="description">{{ produto.Descricao_PRODUTO }}</p>

        <p class="price">${{ produto.Preco_venda_PRODUTO }}</p>

        <form method="POST" action="#">
          {% csrf_token %}
          {% comment %} <label for="size">Selecione o tamanho:</label>
          <select id="size" name="size">
            <option value="P">P</option>
            <option value="M">M</option>
            <option value="G">G</option>
          </select>
          <button type="submit" class="btn-add-cart">Adicionar ao carrinho</button> {% endcomment %}
          {% include 'partials/_alert.html' %}
          {% for field in form.visible_fields %}
            <label for="{{field.id_for_label}}">{{field.label}}</label>
            {{field}}
          {% endfor %}
          <input class="carrinho_form btn-add-cart" type="submit" value="Adicionar ao carrinho">
        </form>

      </div>
      <img id="imgprod" src="{{ produto.Imagem_PRODUTO.url }}" alt="imgprod">
    </div>
  </div>
{% endblock %}
