<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Atlética de Tecnologia</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <header>
    <img id="img1" src="img/letra.png" alt="picletra">
    <div class="header-links">
      <a href="Vestuario.html" class="nav-link">Vestuário</a>
      <a href="index.html" class="nav-link">Home</a>
      <a href="Canecas.html" class="nav-link">Canecas</a>
    </div>
    <a href="cart.html" class="cart-icon">&#128722;</a>
    <img id="img2" src="img/logoteste.png" alt="picheader">
  </header>

  <div class="pagprod">
    <div class="realproduto">
      <img id="imgprod" src="img/camiseta.png" alt="imgprod">
      <div class="prodinfo">
        <h2> Produto x</h2>
        <p>$20.00</p>

        <h4>Descrição:</h4>
        <p>Este produto contem a marca da nossa atlética, <br> 
          carregue com voce aonde estiver.
        </p>
      </div>
    </div>
  </div>
  </div>

  <script src="script.js"></script>
</body>
</html>
