<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Atlética de Tecnologia</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
  

</head>
<body>
<header>
    <img id="img1" src="{% static '/assets/img/letra.png' %}" alt="picletra">
    <img id="img2" src="{% static '/assets/img/logoteste.png' %}" alt="picheader">
</header>
    {% block content %}{% endblock %}
</body>

</html>