<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Atlética de Tecnologia</title>
  <link rel="stylesheet" href="/style/styles.css">
</head>
<body>
  <header>
    <img id="img1" src="/img/letra.png" alt="picletra">
    <a href="/cart/cart.html" class="cart-icon"><i class="fa-solid fa-cart-shopping"></i></a>
    <a href="/login_cadastro/login1.html" class="login-icon"><i class="fa-solid fa-user"></i></a>
    <a href="/index/index.html" class="home-icon"><i class="fa-solid fa-house"></i></a>
    <img id="img2" src="/img/logoteste.png" alt="picheader">
  </header>

<form action="x" method="post">

  <div class="formulario">

    <label for=""><b>Qual seu nome?</b></label>
    <input type="" placeholder="Celular" name="" required>

    <label for="uname"><b>Digite seu email:</b></label>
    <input type="text" placeholder="Enter Username" name="uname" required>

    <label for="psw"><b>Cire sua senha:</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>

    <label for="phone"><b>Informe seu telefone:</b></label>
    <input type="phone" placeholder="Celular" name="phone" required>

    <label for=""><b>Qual a sua Cidade?</b></label>
    <input type="" placeholder="Celular" name="" required>

    <br>
    
    <select name="Curso">
      <option value="x">Escolha seu curso</option>
      <option value="x">Ciência da computação</option> <!--caixa de opções pré definidas -->
      <option value="x">Design gráfico</option>
      <option value="x">Publicidade e propaganda</option>
      <option value="x">Marketing</option>
  </select>

  <br>

  <select name="Unidade">
    <option value="x">Escolha a sua unidade</option>
    <option value="x">Unidade independência</option> <!--caixa de opções pré definidas -->
    <option value="x">Unidade Central</option>
    <option value="x">Unidade de direito</option>
    <option value="x">Unidade de gastronomia</option>
</select>
    <label for=""><b>Data de nascimento</b></label>
    <input type="" placeholder="Celular" name="" required>

    <label>
      <input type="checkbox" checked="checked" name="remember"> Lembrar
    </label>

    <button type="cria_conta">Criar conta</button>

    <button type="dir_login">Login</button>
    <label>

  </div>
  <footer>
    <div class="footer-container">
      <div class="social-icons">
        <a href="https://www.instagram.com/adicionar" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://wa.me/adicionar" target="_blank"><i class="fab fa-whatsapp"></i></a>
       
      </div>
    </div>
  </footer>

  <script src="https://kit.fontawesome.com/c926eaba5d.js" crossorigin="anonymous"></script>
</form>