<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Atlética de Tecnologia</title>
  <link rel="stylesheet" href="/style/styles.css">
</head>
<body>
  <header>
    <img id="img1" src="/img/letra.png" alt="picletra">
    <a href="/cart/cart.html" class="cart-icon"><i class="fa-solid fa-cart-shopping"></i></a>
    <a href="/login_cadastro/login1.html" class="login-icon"><i class="fa-solid fa-user"></i></a>
    <a href="/index/index.html" class="home-icon"><i class="fa-solid fa-house"></i></a>
    <img id="img2" src="/img/logoteste.png" alt="picheader">
  </header>

<form class="formulario" action="#" method="post">
    <h2>Login</h2>

    <label for="email">E-mail:</label>
    <input type="email" id="email" name="email" required>

    <label for="senha">Senha:</label>
    <input type="password" id="senha" name="senha" required>

    <input type="login" value="Login">
    
    <input type="dir_cria_conta" value="Criar conta">

</form>

  <footer>
    <div class="footer-container">
      <div class="social-icons">
        <a href="https://www.instagram.com/adicionar" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://wa.me/adicionar" target="_blank"><i class="fab fa-whatsapp"></i></a>
      
      </div>
    </div>
  </footer>
<script src="https://kit.fontawesome.com/c926eaba5d.js" crossorigin="anonymous"></script>
</body>
</html>